#px {
    width:100px;
    height:50px;
    background: orange;
}
#pt {
    width:100pt;
    height:50pt;
    background: orange;
}
#box {
    width:500px;
    height:200px;
    background: orange;
    font-size:20px
}
#\% {
    width:50%;
    height:50%;
    background: blue;
}
#em {
    width:12.5em;
    height:5em;
    background: #5AFF5B;
}
html {
    font-size:20px;
}
#rem {
    width:20rem;
    height:10rem;
    background: brown;
}